<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_LEVEL" value="DEBUG"/>
    <property name="LOG_PATH" value="logs"/>
    <property name="LOG_FILE_MAX_SIZE" value="20MB"/>
    <property name="LOG_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %-5level %class:%line - %msg%n"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="root" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_PATH}/root.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>root.%i.gz</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>${LOG_FILE_MAX_SIZE}</maxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="zzjservice" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_PATH}/zzjservice.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>zzjservice.%i.gz</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>${LOG_FILE_MAX_SIZE}</maxFileSize>
        </triggeringPolicy>
    </appender>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="root"/>
    </root>
    <logger name="com.zzj.zzjservice" additivity="false" level="${LOG_LEVEL}">
        <appender-ref ref="zzjservice"/>
    </logger>
</configuration>