<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>文件服务器</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <script src="/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="/jquery/3.6.0/jquery.min.js"></script>
    <style>
        body {
            background-color: #f8f9fa;
        }


    </style>
</head>
<body>

<div class="container mt-3">
    <a class="btn btn-primary" th:href="${rootPath}">首页</a>
    <a class="btn btn-primary" onclick="window.history.back()"><i class="fas fa-arrow-left"></i></a>
    <a class="btn btn-primary" onclick="window.history.go(1)"><i class="fas fa-arrow-right"></i></a>
    <form th:if="${#strings.isEmpty(search)}" target="_blank" method="post"
          enctype="multipart/form-data" id="uploadForm"
          class="d-inline-block">
        <div class="input-group">
            <input type="hidden" name="length" value=""/>
            <input id="fileInput" type="file" name="file" class="form-control"/>
            <button type="button" class="btn btn-success" onclick="uploadServlet()">上传文件</button>
            <!--<button type="button" class="btn btn-success" onclick="uploadFile()">上传文件</button>-->
        </div>
    </form>
    <a href="?ftp" target="_blank">
        <button type="button" class="btn btn-primary">FTP</button>
    </a>
    <button type="button" class="btn btn-primary" onclick="toggleConsole()" style="display: none">控制台</button>


    <div id="message" class="container mt-3 alert alert-info text-center" role="alert" style="display: none">消息</div>

    <form style="float:right" th:action="${rootPath}" method="get">
        <div class="input-group">
            <input style="width:20%" name="search" onfocus="this.select()"
                   th:placeholder="搜索"
                   autofocus=""
                   th:value="${search}" class="form-control"/>
        </div>
    </form>
    <div id="console" class="container mt-3" style="display: none">
        <textarea id="console-input" class="form-control" rows="10" placeholder="输入命令回车试试"></textarea>
    </div>


</div>
<div class="container mt-3">
    <b th:text="${dataSize + ' 个项目'}" class="text-muted">0 个项目</b>
</div>
<div class="container mt-3">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>名称</th>
            <th>路径</th>
            <th>文件大小</th>
            <th>修改日期</th>
            <th>操作</th>
        </tr>
        </thead>
        <tr th:if="${#strings.isEmpty(search)}">
            <td><a th:href="${lastPath}">上一层</a></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tbody th:each="data : ${dataList}">
        <tr>
            <td><a th:style="${data.style}" th:text="${data.name}" th:href="${data.path}">名称</a></td>
            <td th:text="${data.path}">路径</td>
            <td th:text="${data.length}">文件大小</td>
            <td th:if="${#strings.isEmpty(data.length)}"></td>
            <td th:text="${data.lastModified}">修改日期</td>
            <td>
                <a th:href="${data.path + '?download'}">下载</a>
                <a th:href="${data.path + '?view'}" target="_blank">查看</a>
                <a th:href="${data.path + '?delete'}">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script th:inline="javascript">
    var uploadSocket = getSocket("uploadFile");
    var consoleSocket = getSocket("console");

    function getSocket(namespace) {
        return new WebSocket("ws://" + [[${localIp}]] + ":8080/" + namespace);
    }

    function onUploadMessage() {
        var message = $("#message");
        var socketId = Date.now();
        uploadSocket.onmessage = function (event) {
            var data = event.data;
            message.show();
            message.html(data);
        };
        return socketId;
    }

    function onConsoleMessage() {
        consoleSocket.onmessage = function (event) {
            var data = event.data;
            var value = $("#console-input").val();
            $("#console-input").val(value + data + "\n");
            $("#console-input")[0].style.height = "auto";
            $("#console-input")[0].style.height = t.scrollHeight + "px";
            window.scrollTo(0, t.scrollHeight - $(window).height() + 100);
        };
    }

    function uploadServlet() {
        var form = document.getElementById("uploadForm");
        form["length"].value = form["file"].files[0].size
        form.querySelector("button[type='button']").disabled = true;
        var socketId = onUploadMessage();
        uploadSocket.send(socketId);
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/uploadServlet", true);
        xhr.setRequestHeader("socketId", socketId);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
               location.reload();
            }
        };
        xhr.send(new FormData(form));
    }

    function uploadFile() {
        var form = document.getElementById("uploadForm");
        form.querySelector("button[type='button']").disabled = true;
        var socketId = onUploadMessage();
        uploadSocket.send(socketId)
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/upload", true);
        xhr.setRequestHeader("socketId", socketId);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
               location.reload();
            }
        };
        xhr.send(new FormData(form));
    }

    function toggleConsole() {
        if ($("#console").is(":visible")) {
            $("#console").hide();
        } else {
            $("#console").show();
        }
    }

    var t=document.getElementById("console-input");
    t.onkeydown = function(){
        onConsoleMessage();
        if(event.keyCode === 13) {
            var v=this.value;
            var cv="";
            if("selectionStart" in t){
                cv=v.substr(0,t.selectionStart);
            }else{
                var oSel=document.selection.createRange();
                oSel.moveStart('character',-t.value.length);
                cv=oSel.text;
            }
            var n=cv.split('\n').length-1;
            var text=$("#console-input").val();
            var array=text.split("\n");
            consoleSocket.send(array[n]);
            $("#console-input").val(array[n]);
        }
    }


</script>

</body>
</html>


